.container h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.hero {
  width: 100%;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");
  background-size: cover;
  background-position: center;
  color: white;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; */
        position: relative; 
}

/* .hero::after {
  content: "";
  position: absolute;
} */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
    background: rgba(0, 0, 0, 0.1);
}
/* Navigation on top of hero */
.hero-nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hero-nav a {
  margin-left: 15px;
  color: white;
  font-weight: bold;
}

/* Text in hero */
.hero-content {
  margin: 25px;
  text-align: center;
}

.hero-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 16px;
  background-color: #deeaeb;
  color: #333;
  padding: 10px 50px;
  margin: 10px 120px;
  border-radius: 5px;
}

.actions{
    margin-top: 20px;
    text-align: right;
}

.container p{
    margin-bottom: 10px;
    opacity: 0.7;
}
